

html {
  scroll-behavior: smooth;
}

body {
 height: 100%;
 
 margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #101410, rgb(117, 115, 115) 10%, #77778e);
  padding: 20px 10px 10px 10px;
  color: #fff;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}


header h1 {
  margin: 0;
}

.logo img {
  height: 50px;
  width: auto;
}

nav {
  display: flex;
}

.hamburger {
  display: none;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

main {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;  
}

section {
  flex-basis: 50%;
  margin-right: 20px;
  margin-bottom: 20px;
}

h2 {
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  font-family: 'Fira Sans', sans-serif;
  
}

details {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

summary {
  padding: 10px;
  background-color: #f7f7f7;
  cursor: pointer;
  position: relative;
}

summary::after {
  content: "\002B";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #666;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

details[open] summary::after {
  content: "\2212";
}

.details-content {
  padding: 10px;
  display: none;
}

.details-nested {
  margin-left: 20px;
}

 aside {
  display: flex;
  flex-direction: column;
  padding-right: 0.15rem;
  margin-right: 0.5rem;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
  background-color: #f7f7f7;
  right: 0;
  width: 30%;
  position: absolute;
} 

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.occupation-icon {
  width: 80px;
  height: 80px;
}

section:nth-of-type(2) {
  background-color: green;
}


@media (max-width: 768px) {
  body {
    width: 100% !important;
  }
  
  nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, #101410, rgb(117, 115, 115) 10%, #77778e);
    /* background-color: #101014; */
  }

  nav.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }

  
  nav ul li a {
    color: #e8e7e7;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    position: relative;
    top: 5px;
    right: 20px;
  }

  .hamburger span {
    display: block;
    height: 3px;
    width: 25px;
    background-color: #101014;
    margin: 5px 0;
    color: #fff;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  aside {
    display: none;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }

  details {
    border: 1px solid #dfdddd;
    border-radius: 4px;
    padding: 0.5em 0.5em 0.5em 0;
  }

  header {
    width: 100%;
  }


}

/* @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
   
    
 
    nav {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #101014;
    }
  
    nav.active {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav ul li {
      margin: 10px 0;
    }

    
  nav ul li a {
    color: #fff;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    margin: 5px 0;
    font-size: 12px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  aside {
    display: none;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

/* main {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
} */

section {
  flex-basis: 30%;
  margin-right: 20px;
  margin-bottom: 20px;
}

section:last-child {
  margin-right: 0;
}


} */


/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
}

.logo img {
  height: 50px;
  width: auto;
}

nav {
  display: flex;
}

.hamburger {
  display: none;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #101014;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #101014;
  }

  nav.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}


/*
header {
  background-color: #333;
  display: flex;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

 header {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
} 

header h1 {
  margin: 0;
}



main {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}


.hamburger {
  display: none;
}

section {
  flex-basis: 30%;
  margin-right: 20px;
  margin-bottom: 20px;
}

section:last-child {
  margin-right: 0;
}

h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

form label,
form input,
form button {
  display: block;
}

form input[type="email"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

form button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #555;
}
 */
