
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Outfit&family=Roboto&display=swap');
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --whitesmoke: 	rgb(245,245,245);
  --off-white : rgb(250, 249, 246);
  --main-bg-color: coral;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
 margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  /* background-color: #011627; */

   background: linear-gradient(180deg, #101410, rgb(117, 115, 115) 10%, #77778e); 
  
  padding: 20px 10px 10px 10px;
  color: #fff;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}


header h1 {
  margin: 0;
}

.logo img {
  height: 50px;
  width: auto;
}

nav {
  display: flex;
}

.hamburger {
  display: none;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

main {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;  
  flex-direction: column;
}

section {
  flex-basis: 50%;
  margin-right: 20px;
  margin-bottom: 20px;
}

h2 {
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  font-family: 'Fira Sans', sans-serif;
  
}

details {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

summary {
  padding: 10px;
  background-color: #f7f7f7;
  cursor: pointer;
  position: relative;
}

summary::after {
  content: "\002B";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #666;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

details[open] summary::after {
  content: "\2212";
}

.details-content {
  padding: 10px;
  display: none;
}

.details-nested {
  margin-left: 20px;
}

 aside {
  display: flex;
  flex-direction: column;
  padding-right: 0.15rem;
  margin-right: 0.5rem;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
  background-color: #f7f7f7;
  right: 0;
  width: 30%;
  position: absolute;
} 


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.occupation-icon {
  width: 80px;
  height: 80px;
}


@media screen and (min-width: 320px) and (max-width: 768px) {

  * {
    margin: 0;
    padding: 0;
  }
  /* CSS styles here */
  body {
    margin: 0;
    /* background-color: rgb(232,232,232); */
    background-color: #f6f5f7;
    font-family: OpenSans,sans-serif;
  }
  header {
    background: linear-gradient(hsl(216, 11%, 9%), hsl(23, 8%, 20%), hsl(20, 9%, 4%));
  }
  
  header {
    width: 100%;
    
  }

  nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #011627, rgb(117, 115, 115), #77778e);
    /* background-color: #101014; */
  }

  nav.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }

  
  nav ul li a {
    color: #e8e7e7;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    position: relative;
    top: 5px;
    right: 20px;
  }

  .hamburger span {
    display: block;
    height: 3px;
    width: 25px;
    background-color: #101014;
    margin: 5px 0;
    color: #fff;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  aside {
    display: none;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    /* width: 100%; */
  }

  main ul {
    list-style-type: none;
    font-size: 1em;
  }

  .blog-container {
    width: 100%;
    box-sizing: border-box;
    /* box-shadow: 1px 2px 0px 2px rgba(0, 0, 25, .2); */
    box-shadow: 0 3px 10px rgba(25,17,34,.05);
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255);
 

  }

  h3 {
    display: block;
    margin: 0;
    font-weight: bold;
    
  }

  
  .blog-description {
    border: solid #fff 1px;
    padding: 10px 10px -0px 10px;
     box-shadow: 10px 13px 10px rgba(25,17,34,.05);
     margin-top: 50px;

  }

  .blog-links {
   text-decoration: none; 
   position: relative;
   color: #333;
   font-family: 'Roboto', sans-serif;
   cursor: pointer;
   transition: all .25s ease-out;
  }

  .blog-links:hover {
    color: #0052ea;
  } 

  .blog-title {
    font-size: 1.5rem !important;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
  }

  .blog-text {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;  
    margin: 5px 0 10px;
    
  }

  .blog-date {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: smaller !important;
    color: #555;
    margin: 5px 3px;
  }

  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
  }

  .section2 ul li a {
    list-style: none;
    text-decoration: none;
  }
  details {
    border: 1px solid #dfdddd;
    border-radius: 4px;
    padding: 0.5em 0.5em 0.5em 0;
    background-color: #fff;
    
  }
details summary { 
  background-color: #fff;
  padding: 0.8em 0.5em 0.5em 0.5em;
}

details .details-nested {
  line-height: 1.2em;
}
details a {
  text-decoration: none;
  font-weight: bold;
  font-size: smaller;
}

details summary div p {
  padding: 5px;
  line-height: 1.2em;
}

details div p {
  padding: 5px;
}

details .details-content .card {
  font-size: 13px;
  margin-bottom: 15px;
}

}

/* 
@media (max-width: 768px) {
 
} */

/* @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
   
    
 
    nav {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #101014;
    }
  
    nav.active {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav ul li {
      margin: 10px 0;
    }

    
  nav ul li a {
    color: #fff;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    margin: 5px 0;
    font-size: 12px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  aside {
    display: none;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

/* main {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
} */

section {
  flex-basis: 30%;
  margin-right: 20px;
  margin-bottom: 20px;
}

section:last-child {
  margin-right: 0;
}

} */


/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
}

.logo img {
  height: 50px;
  width: auto;
}

nav {
  display: flex;
}

.hamburger {
  display: none;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #101014;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #101014;
  }

  nav.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}


/*
header {
  background-color: #333;
  display: flex;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

 header {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
} 

header h1 {
  margin: 0;
}



main {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}


.hamburger {
  display: none;
}

section {
  flex-basis: 30%;
  margin-right: 20px;
  margin-bottom: 20px;
}

section:last-child {
  margin-right: 0;
}

h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

form label,
form input,
form button {
  display: block;
}

form input[type="email"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

form button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #555;
}
 */
